body{
    font-family: 'Archivo Narrow', sans-serif;
}
td,th{
    text-align: center;
}
.heading{
    text-align: center;
}
.panel-title{
    letter-spacing: 1px;
    font-size: 20px;
}
.row{
    background-color: #ddd ; 
    font-size: 20px;
    line-height: 15px;
}
